<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {{ title }} </title>
</head>
<body>
  <header>
    <a href="/">Home</a>
    <a href="/characters">Characters</a>
  </header>

  {% if title %}
    <h1>{{ title }}</h1>
  {% endif %}
  {%- if dog %}
    <img src="{{ dog }}" alt="doggo" width="200" height="200"/>
  {%- endif %}
  {{ content }}
</body>
</html>